body{
    margin:2vw;
    padding:0;
    height:100;
    width:100;
    overflow:hidden;
}
div{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border: 2px solid #000;
    width: 15vw;
    height: 15vw;
}
#d1{
    position: absolute;
    top: 0;
    left: 0;
}
#d2{
    position: absolute;
    top: 0;
    right: 0;
}
#d3{
    position: absolute;
    top: 35vh;
    right: 35vh;
    bottom: 35vh;
    left: 80vh;
}
#d4{
    position: absolute;
    bottom: 0;
    left: 0;
}
#d5{
    position: absolute;
    bottom: 0;
    right: 0;
}
